<div class="top">
    <div>
        <svg width="420" height="420">
            {{#each board as |row i|}}
                {{#each row as |element j|}}
                    {{#if (eq element 2)}}
                        <rect width=60 height=60 y={{mult i 60}} x={{mult j 60}} style="fill:rgb(255, 0, 0);stroke-width:3;stroke:rgb(212, 212, 212)" />
                    {{else if (eq element 0)}}
                        <rect width=60 height=60 y={{mult i 60}} x={{mult j 60}} style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(212, 212, 212)" />
                    {{else if (eq element 1)}}
                        <rect width=60 height=60 x={{mult j 60}} y={{mult i 60}} style="fill:rgb(0, 119, 255);stroke-width:3;stroke:rgb(212, 212, 212)"/>
                    {{/if}}
                {{/each}}
            {{/each}}
        </svg>
    </div>
    <div class="button-column">
        {{#bs-button class='option' onClick=(perform overboard board)}}
            Start Game
        {{/bs-button}}
        {{#bs-button class='option' onClick=(action 'modeSelect' 3)}}
            Heuristic 1 vs Heuristic 1
        {{/bs-button}}
        {{#bs-button class='option' onClick=(action 'modeSelect' 1)}}
            Heuristic 1 vs Heuristic 2
        {{/bs-button}}
        {{#bs-button class='option' onClick=(action 'modeSelect' 2)}}
            Heuristic 1 vs Random
        {{/bs-button}}
        {{#bs-button class='option' onClick=(action 'clearBoard')}}
            Clear Board
        {{/bs-button}}
        <span>Player 1 Max Ply: {{input value=(mut maxDepth1)}}</span>
        <span>Player 2 Max Ply: {{input value=(mut maxDepth2)}}</span>
    </div>

</div>


<div class='input-flex'>
    
</div>

<div>CurrentPlayer: {{currPlayer}}</div>
<div>Board Dimensions: {{n}} * {{n}}</div>
<div>Board State: {{board}}</div>
Nodes Visited: {{lastNodes}}

{{yield}}